.idea/workspace.xml
MyApplication/app/src/main/java/WebSite.java
Readme.txt
MyApplication/app/src/main/java/WebSite.java
MyApplication/app/src/main/java/WebSite.java
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.gitignore
.idea/encodings.xml
.idea/misc.xml
.gitignore
.gitignore
